.aboutUs__section {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(1280px - 12px);
  height: calc(100vh - 92px);
  background-image: url("src/assets-photos/opening__image.JPG");
  background-size: 100px 40px;
  border: 6px solid rgb(214, 92, 170);
  p {
    font-weight: bolder;
    font-size: 45px;
    font-family: "Grandstander", cursive;
    width: 800px;
    text-align: center;
    color: rgb(25, 55, 32);
    line-height: 1.2;
  }
}
