#root {

  margin: 0 auto;
  text-decoration: none;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

.opening {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(1280px - 12px);
  height: calc(100vh - 92px);
  background-image: url("src/assets-photos/opening__image.JPG");
  background-size: 125px 50px;
  border: 6px solid rgb(214, 92, 170);
}
.opening__content {
  margin-top: 130px;
  text-align: center;
}
.opening__header {
  font-family: "Grandstander", cursive;
  font-size: 90px;
  color: rgb(25, 55, 32);
}

.opening__heading {
  margin-top: 20px;
  margin-bottom: 38px;
}

.opening__image {
  width: 100%;
  height: auto;
}

